.details-page {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.details-page h1 {
  font-size: 26px;
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.details-page h2 {
  font-size: 22px;
  margin-top: 20px;
  color: #fff;
}

.details-page p {
  font-size: 16px;
  color: #fff;
  margin-bottom: 15px;
}

.details-page ul {
  
  padding-left: 20px;
}

.details-page li {
  font-size: 16px;
  margin-bottom: 10px;
}

.card-image {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive Design */
@media (max-width: 768px) {
  .details-page {
    padding: 10px;
  }

  .details-page h1 {
    font-size: 22px;
  }

  .details-page h2 {
    font-size: 20px;
  }

  .details-page p {
    font-size: 14px;
  }
}
